<launch>

  <!-- these are the arguments you can pass this launch file, for example paused:=true
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/-->
  <!--arg name="model" default="$(find PF1)/xacro/mighty.xacro"/-->
  <!-- We resume the logic in empty_world.launch -->

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find ken)/world/walking.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>


</launch>